<form action="/celebrities/new" method="POST">
  Celebrity name
  <input type="text" name="name">
  Occupation:
  <input type="text" name="occupation">
  CatchPhrase
  <input type="text" name="catchphrase">
  
  <input type="submit" value="Submit">
</form> 