<form action="">
  Celebrity name
  <input type="text" name="Celebrity name">
  Occupation:
  <input type="text" name="Occupation">
  CatchPhrase
  <input type="text" name="CatchPhrase">
  
  <input type="submit" value="Submit">
</form> 